$color_primary: rgb(255, 242, 3);
$color_primary-50: rgb(255, 242, 3,0.50);
$color_primary-25: rgb(255, 242, 3,0.20);

$color_white: rgb(255, 255, 255) ;
$color_white-0: rgba(208, 208, 208, 0.743); 

$color_black:rgb(36, 0, 85);
$color_secondary:rgb(221, 0, 255);
$color_tertaire:rgb(149, 0, 255);

$fontfamily:arial;